<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tqq.csmall.passport.mapper.RoleMapper">

    <!-- List<RoleListItemVO> list(); -->
    <select id="list" resultType="com.tqq.csmall.passport.pojo.vo.RoleListItemVO">
        SELECT id, name FROM ams_role ORDER BY sort DESC, id
    </select>

</mapper>